<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_oldboss01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,150}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,7},{208,150}}</string>
                <key>sourceSize</key>
                <string>{250,160}</string>
            </dict>
            <key>big_oldboss02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{198,146}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{198,146}}</string>
                <key>sourceSize</key>
                <string>{250,160}</string>
            </dict>
            <key>fat_oldboss01.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{138,140}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{138,140}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fat_oldboss02.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,144},{138,134}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{138,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>fly_oldboss01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{144,148}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{144,148}}</string>
                <key>sourceSize</key>
                <string>{160,170}</string>
            </dict>
            <key>fly_oldboss02.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,152},{140,142}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{140,142}}</string>
                <key>sourceSize</key>
                <string>{160,170}</string>
            </dict>
            <key>land_oldboss01.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,296},{96,124}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{96,124}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
            <key>land_oldboss02.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,280},{102,112}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,13},{102,112}}</string>
                <key>sourceSize</key>
                <string>{160,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Monsters02-hd.pvr.ccz</string>
            <key>size</key>
            <string>{484,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca30ee80e13ad3ec7911e61891b33c73$</string>
            <key>textureFileName</key>
            <string>Monsters02-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
