<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>allpass.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,110},{56,446}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{56,446}}</string>
                <key>sourceSize</key>
                <string>{60,450}</string>
            </dict>
            <key>allpass_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,352},{114,116}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{114,116}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>bookmark_0-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,486},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_1-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,418},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_1-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1820,262},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_10-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,262},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_10-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,446},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_11-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,392},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_11-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,378},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_12-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,310},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_12-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,242},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_13-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,236},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_14-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1882,58},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_15-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,106},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_16-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,174},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_17-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,168},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_18-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1460,304},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_2-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,304},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_2-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,236},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_3-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,488},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_3-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,488},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_4-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,420},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_4-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,352},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_5-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,284},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_5-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,284},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_6-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,106},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_6-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,216},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_7-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,488},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_7-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,488},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_8-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,420},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_8-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,168},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_9-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,352},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>bookmark_9-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,436},{154,66}}</string>
                <key>offset</key>
                <string>{-48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{154,66}}</string>
                <key>sourceSize</key>
                <string>{250,70}</string>
            </dict>
            <key>giftthisapp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{686,526}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{686,526}}</string>
                <key>sourceSize</key>
                <string>{720,530}</string>
            </dict>
            <key>giftthisapp_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,2},{316,54}}</string>
                <key>offset</key>
                <string>{-3,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,416},{316,54}}</string>
                <key>sourceSize</key>
                <string>{720,530}</string>
            </dict>
            <key>ss_help_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,216},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{42,42}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>ss_help_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,58},{68,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>theme_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,514},{118,32}}</string>
                <key>offset</key>
                <string>{4,291}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,13},{118,32}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>theme_home_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1976,2},{38,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,13},{38,34}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>theme_home_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,128},{62,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{62,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>theme_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,230},{174,204}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{174,204}}</string>
                <key>sourceSize</key>
                <string>{180,210}</string>
            </dict>
            <key>theme_pack01_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,58},{216,46}}</string>
                <key>offset</key>
                <string>{152,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,99},{216,46}}</string>
                <key>sourceSize</key>
                <string>{720,530}</string>
            </dict>
            <key>theme_pack02_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,230},{216,46}}</string>
                <key>offset</key>
                <string>{117,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,99},{216,46}}</string>
                <key>sourceSize</key>
                <string>{720,530}</string>
            </dict>
            <key>theme_pack03_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,168},{220,46}}</string>
                <key>offset</key>
                <string>{122,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,100},{220,46}}</string>
                <key>sourceSize</key>
                <string>{720,530}</string>
            </dict>
            <key>theme_pack05_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,2},{532,106}}</string>
                <key>offset</key>
                <string>{3,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,71},{532,106}}</string>
                <key>sourceSize</key>
                <string>{720,530}</string>
            </dict>
            <key>theme_pack06_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{432,226}}</string>
                <key>offset</key>
                <string>{-12,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,7},{432,226}}</string>
                <key>sourceSize</key>
                <string>{720,530}</string>
            </dict>
            <key>theme_play_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,436},{1,1}}</string>
                <key>offset</key>
                <string>{-99.5,39.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>theme_play_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,278},{186,72}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{186,72}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>theme_pointleft_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1908,410},{96,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{96,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>theme_pointleft_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,312},{96,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{96,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>theme_pointright_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,214},{96,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{96,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>theme_pointright_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,352},{96,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{96,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>theme_pos_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,504},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{15,13}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>theme_pos_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{15,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{15,13}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>themescene1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2012,556}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b83f8fda95ab7af10815f13f60a598e$</string>
            <key>textureFileName</key>
            <string>themescene1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
