<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Path.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{870,510}}</string>
                <key>offset</key>
                <string>{4,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,130},{870,510}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BG-hd.pvr.ccz</string>
            <key>size</key>
            <string>{870,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1762d9eb1c5572410832e5964ac95853$</string>
            <key>textureFileName</key>
            <string>BG-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
