<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PetBack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,946},{58,60}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{58,60}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>PetBack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,946},{58,60}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{58,60}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>PetBeFeed01.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,936},{78,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,60},{78,68}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetBeFeed02.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,908},{106,92}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,44},{106,92}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetBeFeed03.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,824},{138,118}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,29},{138,118}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetBeFeed04.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,936},{78,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,60},{78,68}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetBeFeed05.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,824},{138,118}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,29},{138,118}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetBeFeed06.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,908},{106,92}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,44},{106,92}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetBeFeed07.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,824},{138,118}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,29},{138,118}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetBeFeed08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,668},{162,140}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,13},{162,140}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetBeFeed09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,486},{180,152}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{180,152}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetCookie00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,922},{98,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{98,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PetCookie01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,922},{98,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{98,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PetEvolution1.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,936},{76,80}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,45},{76,80}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetEvolution2.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,822},{120,120}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,23},{120,120}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetEvolution3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,2},{186,178}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,178}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetMainBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>PetMenu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,922},{58,60}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{58,60}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>PetMenu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,820},{58,60}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,6},{58,60}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>PetMilk00.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,922},{98,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{98,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PetMilk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,922},{98,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{98,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PetNest01.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,732},{186,88}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,98},{186,88}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetNest02.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,732},{186,88}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,98},{186,88}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetNest03.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,732},{186,64}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,118},{186,64}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetNestBig01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,190},{294,114}}</string>
                <key>offset</key>
                <string>{-1,-143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,286},{294,114}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>PetNestBig02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{342,90}}</string>
                <key>offset</key>
                <string>{-8,-165}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,330},{342,90}}</string>
                <key>sourceSize</key>
                <string>{720,420}</string>
            </dict>
            <key>PetShop01_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,190},{174,52}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{174,52}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>PetShop02_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,732},{174,52}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{174,52}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>PetShovel00.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,820},{62,64}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{62,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PetShovel01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,366},{62,64}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{62,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>PetTimeBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{164,46}}</string>
                <key>offset</key>
                <string>{2,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,140},{164,46}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetTime_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,668},{82,10}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{82,10}}</string>
                <key>sourceSize</key>
                <string>{84,10}</string>
            </dict>
            <key>PetTime_num_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,798},{164,20}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{164,20}}</string>
                <key>sourceSize</key>
                <string>{168,20}</string>
            </dict>
            <key>PetToolBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{960,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,86}}</string>
                <key>sourceSize</key>
                <string>{960,90}</string>
            </dict>
            <key>rolltip_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{266,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{266,142}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>speech_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,822},{154,112}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{154,112}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_a_1_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,886},{66,20}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,40},{66,20}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_a_2_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,968},{80,44}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,29},{80,44}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_a_3_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,822},{120,44}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,29},{120,44}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_a_4_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,944},{102,44}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{102,44}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_a_5_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,964},{102,44}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{102,44}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_a_6_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,922},{90,44}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{90,44}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,832},{154,112}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{154,112}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b_1_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,968},{104,46}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{104,46}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b_2_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,922},{90,44}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{90,44}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b_3_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,944},{66,44}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{66,44}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b_4_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,822},{84,44}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,29},{84,44}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b_5_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,990},{102,20}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,40},{102,20}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b_6_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,798},{108,20}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,40},{108,20}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>whale_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{918,510}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,116},{918,510}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetsNest-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1656,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92ab565a413f8fd91117657424e62343$</string>
            <key>textureFileName</key>
            <string>PetsNest-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
