<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EPetWhale11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,438},{136,58}}</string>
                <key>offset</key>
                <string>{-129,151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,30},{136,58}}</string>
                <key>sourceSize</key>
                <string>{720,420}</string>
            </dict>
            <key>EPetWhale12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{136,58}}</string>
                <key>offset</key>
                <string>{-129,151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,30},{136,58}}</string>
                <key>sourceSize</key>
                <string>{720,420}</string>
            </dict>
            <key>PetWhale11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{434,352}}</string>
                <key>offset</key>
                <string>{-46,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,12},{434,352}}</string>
                <key>sourceSize</key>
                <string>{720,420}</string>
            </dict>
            <key>PetWhale12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{250,202}}</string>
                <key>offset</key>
                <string>{215,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{450,154},{250,202}}</string>
                <key>sourceSize</key>
                <string>{720,420}</string>
            </dict>
            <key>PetWhale13_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{256,196}}</string>
                <key>offset</key>
                <string>{216,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{448,159},{256,196}}</string>
                <key>sourceSize</key>
                <string>{720,420}</string>
            </dict>
            <key>PetWhale14_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,296},{254,200}}</string>
                <key>offset</key>
                <string>{216,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,156},{254,200}}</string>
                <key>sourceSize</key>
                <string>{720,420}</string>
            </dict>
            <key>SEPetWhale11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,430},{138,52}}</string>
                <key>offset</key>
                <string>{-94,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,174},{138,52}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>SEPetWhale12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,438},{138,52}}</string>
                <key>offset</key>
                <string>{-94,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,174},{138,52}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>SPetWhale11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{292,242}}</string>
                <key>offset</key>
                <string>{-28,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,113},{292,242}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>SPetWhale12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,260},{160,124}}</string>
                <key>offset</key>
                <string>{140,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,224},{160,124}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>SPetWhale13_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,296},{160,132}}</string>
                <key>offset</key>
                <string>{140,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,219},{160,132}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>SPetWhale14_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,386},{162,114}}</string>
                <key>offset</key>
                <string>{141,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,234},{162,114}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetsWhale-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1016,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3b5cef27cf8d35fcea6e4c763a395ec$</string>
            <key>textureFileName</key>
            <string>PetsWhale-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
