<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1growupbg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,172},{478,68}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,218},{478,68}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>20collected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{450,228}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,59},{450,228}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>20collected_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,588},{296,38}}</string>
                <key>offset</key>
                <string>{0,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,234},{296,38}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>20collected_rewardpic.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,588},{262,194}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,29},{262,194}}</string>
                <key>sourceSize</key>
                <string>{270,250}</string>
            </dict>
            <key>20collected_text_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1888,324},{302,104}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{302,104}}</string>
                <key>sourceSize</key>
                <string>{360,120}</string>
            </dict>
            <key>2growupbg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,2},{478,168}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,118},{478,168}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>3growupbg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{478,168}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,118},{478,168}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>4growupbg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,2},{478,168}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,118},{478,168}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>add.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,612},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{30,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>b_cookie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,1018},{234,236}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{234,236}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>b_medicine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,784},{234,236}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{234,236}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>b_milk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,242},{234,236}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{234,236}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>b_nest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,242},{238,236}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,13},{238,236}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>b_num_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,1236},{100,34}}</string>
                <key>offset</key>
                <string>{-1,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,185},{100,34}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>b_num_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1274},{82,34}}</string>
                <key>offset</key>
                <string>{-1,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,185},{82,34}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>b_num_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,1274},{78,36}}</string>
                <key>offset</key>
                <string>{-2,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,184},{78,36}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>b_num_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1274},{80,34}}</string>
                <key>offset</key>
                <string>{-1,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,185},{80,34}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>b_num_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1274},{80,36}}</string>
                <key>offset</key>
                <string>{-2,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,184},{80,36}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>b_num_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1274},{78,36}}</string>
                <key>offset</key>
                <string>{-2,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,184},{78,36}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>btnbg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,1274},{74,28}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,31},{74,28}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>btnbg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,784},{38,26}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,33},{38,26}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>btnbg_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,1018},{214,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{214,72}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>btnbg_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1274},{214,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{214,72}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>eggrewardtip_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,914},{434,22}}</string>
                <key>offset</key>
                <string>{14,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,282},{434,22}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>getstage_deepsea.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,644},{268,230}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,10},{268,230}}</string>
                <key>sourceSize</key>
                <string>{270,250}</string>
            </dict>
            <key>getstage_deepsea_text_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,482},{320,104}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{320,104}}</string>
                <key>sourceSize</key>
                <string>{360,120}</string>
            </dict>
            <key>getstage_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,642},{268,218}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,18},{268,218}}</string>
                <key>sourceSize</key>
                <string>{270,250}</string>
            </dict>
            <key>getstage_desert_text_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,914},{320,104}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{320,104}}</string>
                <key>sourceSize</key>
                <string>{360,120}</string>
            </dict>
            <key>getstage_jungle.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,644},{268,224}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,12},{268,224}}</string>
                <key>sourceSize</key>
                <string>{270,250}</string>
            </dict>
            <key>getstage_jungle_text_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,2},{320,104}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{320,104}}</string>
                <key>sourceSize</key>
                <string>{360,120}</string>
            </dict>
            <key>getstage_skyline.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,644},{268,228}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{268,228}}</string>
                <key>sourceSize</key>
                <string>{270,250}</string>
            </dict>
            <key>getstage_skyline_text_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,482},{320,104}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{320,104}}</string>
                <key>sourceSize</key>
                <string>{360,120}</string>
            </dict>
            <key>growupbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,914},{730,358}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,2},{730,358}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>growupbg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{608,68}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,141},{608,68}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>monsterbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,1076},{286,286}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{286,286}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>reward_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{910,358}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{910,358}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>reward_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,612},{104,28}}</string>
                <key>offset</key>
                <string>{0,152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,14},{104,28}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>s_cookie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,1020},{162,166}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{162,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>s_egg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,1184},{164,164}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{164,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>s_medicine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,912},{162,166}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{162,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>s_milk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,796},{162,166}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{162,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>s_nest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,628},{166,166}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{166,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>s_nest_add2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,480},{166,166}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{166,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>s_num_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,676},{54,26}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,128},{54,26}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>s_num_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,648},{72,26}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,128},{72,26}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>s_num_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,648},{60,26}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,128},{60,26}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>s_num_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,648},{60,26}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,128},{60,26}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>s_num_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,648},{58,26}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,128},{58,26}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>s_num_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,648},{58,26}}</string>
                <key>offset</key>
                <string>{-3,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,128},{58,26}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>single_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,628},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>spark.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{640,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,640}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>themeunlocked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1274},{298,86}}</string>
                <key>offset</key>
                <string>{143,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,122},{298,86}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>whale_growup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,730},{292,286}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{292,286}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetsReward-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2000,1369}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48634a766abb727c6bb6aa47076b9584$</string>
            <key>textureFileName</key>
            <string>PetsReward-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
