<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>first_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{596,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,54},{596,332}}</string>
                <key>sourceSize</key>
                <string>{740,440}</string>
            </dict>
            <key>first_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{722,440}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{722,440}}</string>
                <key>sourceSize</key>
                <string>{740,440}</string>
            </dict>
            <key>first_btnbg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,660},{74,28}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,31},{74,28}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>first_btnbg_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,444},{214,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{214,72}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>first_btnbg_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,444},{214,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{214,72}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetsFirst-hd.pvr.ccz</string>
            <key>size</key>
            <string>{778,778}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7522eae1991a9d262a7a61a9641bfe6$</string>
            <key>textureFileName</key>
            <string>PetsFirst-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
