<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EggBoss11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,306},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggBoss11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,116},{98,106}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggBoss11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,218},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggBoss11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,306},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggBoss12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,218},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggBoss12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,110},{98,106}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggBoss12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,306},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggBoss12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,218},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggBoss13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,306},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggBoss13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,110},{98,106}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggBoss13_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,218},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggBoss13_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,306},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFat11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,218},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFat11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,110},{98,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFat11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,2},{100,106}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,29},{100,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFat11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,306},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFat12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,218},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFat12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,110},{98,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFat12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,2},{100,106}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,29},{100,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFat12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,306},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFat13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,218},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFat13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1234,110},{98,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFat13_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,2},{100,106}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,29},{100,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFat13_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,306},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFly11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{122,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,29},{122,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFly11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{122,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,29},{122,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFly11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,2},{100,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{100,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFly11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,218},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFly12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{122,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,29},{122,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFly12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{122,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,29},{122,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFly12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,2},{100,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{100,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFly12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,306},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFly13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{122,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,29},{122,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFly13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,172},{122,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,29},{122,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFly13_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,2},{100,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{100,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFly13_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,218},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,110},{98,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,306},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,216},{96,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,29},{96,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,306},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,110},{98,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,218},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,218},{96,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,29},{96,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,280},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,110},{98,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,146},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand13_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,218},{96,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,29},{96,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand13_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,172},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,2},{100,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{100,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,110},{98,106}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand21_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,2},{86,112}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,23},{86,112}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand21_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,110},{98,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand22_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{100,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{100,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,110},{98,106}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand22_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,280},{86,112}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,23},{86,112}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand22_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,110},{98,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand23_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{100,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{100,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand23_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,110},{98,106}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand23_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,280},{86,112}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,23},{86,112}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand23_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,2},{98,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggWhale11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{130,168}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,183},{130,168}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>EggWhale12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{130,168}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,183},{130,168}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>EggWhale13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{100,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{100,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggWhale13_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,168}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,183},{130,168}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>EggYZ_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{90,22}}</string>
                <key>offset</key>
                <string>{1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,120},{90,22}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggYZ_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,110},{142,34}}</string>
                <key>offset</key>
                <string>{0,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,287},{142,34}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetsEgg-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1890,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cca0a70b8c5f47b2bddb03e2b2974ca9$</string>
            <key>textureFileName</key>
            <string>PetsEgg-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
