<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EPetBoss11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,214},{30,30}}</string>
                <key>offset</key>
                <string>{25,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,60},{30,30}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetBoss12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,182},{30,30}}</string>
                <key>offset</key>
                <string>{25,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,61},{30,30}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetFat11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,112},{82,30}}</string>
                <key>offset</key>
                <string>{4,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,46},{82,30}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetFat12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,768},{82,32}}</string>
                <key>offset</key>
                <string>{4,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,45},{82,32}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetFly11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,276},{42,22}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,83},{42,22}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetFly12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,856},{42,22}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,83},{42,22}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetLand11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,216},{58,28}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,75},{58,28}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetLand12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,938},{58,28}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,76},{58,28}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetLand21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,548},{42,26}}</string>
                <key>offset</key>
                <string>{32,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,34},{42,26}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetLand22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,324},{42,26}}</string>
                <key>offset</key>
                <string>{32,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,34},{42,26}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetBoss11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,118}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{176,118}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetBoss12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{172,122}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{172,122}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetBoss13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{172,120}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{172,120}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetFat11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,746},{108,116}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,26},{108,116}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetFat12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,492},{110,112}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,31},{110,112}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetFat13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,368},{108,122}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,20},{108,122}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetFly11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{154,122}}</string>
                <key>offset</key>
                <string>{-14,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{154,122}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetFly12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{154,122}}</string>
                <key>offset</key>
                <string>{-13,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,18},{154,122}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetFly13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{152,126}}</string>
                <key>offset</key>
                <string>{-13,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{152,126}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetLand11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,948},{62,136}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,9},{62,136}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetLand12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,496},{64,134}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,12},{64,134}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetLand13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{62,138}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,7},{62,138}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetLand21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,374},{104,116}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,28},{104,116}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetLand22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,112},{100,114}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,31},{100,114}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetLand23_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,626},{112,118}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,26},{112,118}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetBoss11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,112},{68,30}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,86},{68,30}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetBoss12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,324},{68,30}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,87},{68,30}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetFat11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,112},{82,30}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,88},{82,30}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetFat12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,768},{82,32}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,87},{82,32}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetFly11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,276},{42,22}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,98},{42,22}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetFly12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,856},{42,22}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,98},{42,22}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetLand11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,938},{62,28}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,97},{62,28}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetLand12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,484},{62,28}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,98},{62,28}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetLand21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,532},{46,26}}</string>
                <key>offset</key>
                <string>{25,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,68},{46,26}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetLand22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,484},{46,26}}</string>
                <key>offset</key>
                <string>{25,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,68},{46,26}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetBoss11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{138,106}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,42},{138,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetBoss12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,808},{138,104}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,44},{138,104}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetBoss13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{138,108}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,40},{138,108}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetFat11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,826},{104,104}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{104,104}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetFat12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,112},{106,102}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,44},{106,102}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetFat13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,216},{102,106}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,38},{102,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetFly11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,632},{134,110}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,42},{134,110}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetFly12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{136,108}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,52},{136,108}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetFly13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,492},{132,108}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,32},{132,108}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetLand11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,294},{78,114}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,37},{78,114}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetLand12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,856},{80,112}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,40},{80,112}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetLand13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,214},{78,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,35},{78,114}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetLand21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,718},{102,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,40},{102,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetLand22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,606},{110,102}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,45},{110,102}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetLand23_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,374},{98,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,38},{98,108}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetsTheme02-hd.pvr.ccz</string>
            <key>size</key>
            <string>{472,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:237b4df57f0e35e515ae6aa32ff15ad1$</string>
            <key>textureFileName</key>
            <string>PetsTheme02-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
