<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_EggBoss11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,718},{86,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,77},{86,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggBoss11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,552},{98,106}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,77},{98,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggBoss11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,718},{86,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,77},{86,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggBoss11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,658},{86,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,77},{86,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggFat11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,652},{86,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,77},{86,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggFat11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,684},{98,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,77},{98,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggFat11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,684},{100,106}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,77},{100,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggFat11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,552},{86,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,77},{86,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggFly11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,684},{122,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,77},{122,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggFly11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,534},{122,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,77},{122,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggFly11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,684},{100,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,77},{100,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggFly11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,684},{86,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,77},{86,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggLand11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,684},{98,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,77},{98,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggLand11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,426},{86,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,77},{86,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggLand11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,640},{96,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,77},{96,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggLand11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,318},{86,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,77},{86,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggLand21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,684},{100,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,77},{100,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggLand21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,684},{98,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,77},{98,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggLand21_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,204},{86,112}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,71},{86,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggLand21_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1192,684},{98,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,77},{98,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggWhale11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,684},{120,132}}</string>
                <key>offset</key>
                <string>{17,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,77},{120,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>giftbox_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,644},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_bignest.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,346},{242,236}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{242,236}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>icon_cookie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,240},{234,236}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{234,236}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>icon_egg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,346},{234,236}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{234,236}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>icon_medicine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,346},{234,236}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{234,236}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>icon_milk.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,346},{234,236}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{234,236}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>icon_nest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,2},{238,236}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{238,236}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>ok_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,478},{214,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{214,72}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>ok_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,644},{214,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{214,72}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>reward_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{910,342}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{910,342}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>spark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,640}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>spark_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>text_bignest_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,240},{342,98}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{342,98}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>text_cookie_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,584},{342,98}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{342,98}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>text_egg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,584},{342,98}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{342,98}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>text_medicine_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,584},{342,98}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{342,98}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>text_milk_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{342,98}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{342,98}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>text_nest_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,240},{342,98}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{342,98}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,240},{26,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetsDrop-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2020,808}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a739e4d9b3a34ffd246f4d178cdb0d5$</string>
            <key>textureFileName</key>
            <string>PetsDrop-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
